/* -- All -- */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.white-text{
    color:#ffffff;
}

.center-text{
    text-align: center;
}

.flex{
    display: flex;
}



/* -- Top Bar -- */
header{
    padding: 20px;
    background-color: rgb(34, 34, 34);
    font-size: 20px;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1;
}


nav > a{
    margin: 0px 5px;
}

#contact-align{
    padding-right: 40px;
}

/* -- Banner -- */
.banner{
    padding-top: 63px;
}

.banner > img{
    width: 100vw;
}

.banner > h1{
    font-family: 'Space Mono', monospace;
    text-shadow: 0 0 20px #ffffff;
    position: absolute;
    width: 100%;
    top: 15vw;
    text-align: center;
    z-index: 0;
}

/* -- Main Content -- */
@media screen and (max-width: 639px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    .banner > h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    .banner > h1{
        top: 20vw;
    }   
}